    <% include partials/header.ejs %>

    <h1>THis is the landing page</h1>

    <p>Welcome to Yelp Camp</p>

    <a href="/campgrounds">View all campgrounds</a>

    <% include partials/footer.ejs %>