<% include partials/header.ejs%>
    <h1>Create a New Campground</h1>

    <form action="/campgrounds" method="POST">
        <input type="text" name="name" placeholder="name">
        <input type="text" name="image" placeholder="image url">
        <button type="button" class="btn btn-dark">Submit!</button>
    </form>

    <a href="/campgrounds">Go Back</a>
    <% include partials/footer.ejs%>